{{define "base"}}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/styles/a4.css" type="text/css" />

        {{template "header" .}} {{template "favicons" .}}
    </head>

    <script>
        var addBackLink = function () {
            let pages = document.getElementsByClassName("page");
            for (const page of pages) {
                let backLink = document.createElement("a");
                backLink.innerHTML = "← Back";
                backLink.setAttribute("href", "javascript:history.back()");
                backLink.setAttribute("class", "backlink");
                page.prepend(backLink);
            }
        };

        var switchColor = function (newColor) {
            let colorSwitcher = document.getElementById("colorSwitcher");

            let newColorCSSVar = "";

            switch (newColor) {
                case "red":
                    newColorCSSVar = "--title-red";
                    break;
                case "blue":
                    newColorCSSVar = "--title-blue";
                    break;
                case "green":
                    newColorCSSVar = "--title-green";
                    break;
                case "purple":
                    newColorCSSVar = "--title-purple";
                    break;
            }

            if (newColorCSSVar != "") {
                colorSwitcher.innerHTML = `
                :root {
                    --title-color: var(${newColorCSSVar});
                }`;
            }
        };
    </script>

    <style id="colorSwitcher"></style>

    <body onload="addBackLink();">
        {{template "content" .}}
    </body>
</html>
{{end}}
